:root {
    /* BK Colors */
    --bkprimary: hsl(0, 0%, 86%);
    --bksecondaryColor: hsl(0, 0%, 100%);

    /* Letter Colors */
    --primaryColor: hsla(0, 87%, 68%, 0.798);
    --secondaryColor:hsl(259, 100%, 65%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dados */
#container {
    background-color: var(--bkprimary);
}

.card {
    position: relative;
    width: 500px;
    height: 450px;
    margin: 5% auto;
    border-radius: 3% 3% 30%;
    background-color: var(--bksecondaryColor);
}

.cabecalho {
    display: flex;
    color: var(--primaryColor);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 30px;

}

#btnResult{
    position: absolute;
    left: 413px;
    top: 131px;
    cursor: pointer;
}

.line {
    display: block;
    margin: auto;
    width: 80%;
    border-bottom: 5px solid var(--bkprimary);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 1px 0px 2px var(--bkprimary) ;
}

.datesContainers {
    display: flex;
    width: 130px;
    flex-direction: column;
    
}

.datesContainers p,h2{
    font-size: 10px;
}

input {
    width: 115px;
    margin: 10px 0;
    padding: 9px;
    border-radius: 10%;
    border-width: 1px;
    outline: none;
    border-color: var(--primaryColor);
    font-size: 32px;
}

/* Resultado dos Dados Coletados */
.containerResult{
    align-items: center;
}
.result{
    display: flex;
    gap: 10px;
    margin-left: 35px;
    font-size:60px ;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.result_color{
    color: var(--secondaryColor);
}

.attribution{
    text-align: center;
    font-size: 10px;
}

@media (max-width:450px){
    .card {
        width: 375px;
        height: 500px;
    }

    .datesContainers {     
        width: 90px; 
        margin-top: 20px;
        color: gray;  
        margin: auto;    
    }

    .datesWarning{
        display: none;
    }

    input {
        width: 80px;
    }

    .line {
        margin-top: 20px;
        width: 80%;
    }

    #btnResult{
        position: absolute;
        left: 149px;
        top: 131px;
        cursor: pointer;
    }

    .containerResult{
        margin-top: 50px;
    }

    .result{
        
        font-size:50px ;

    }
    
}